// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$ico-archer-name: 'ico-archer';
$ico-archer-x: 463px;
$ico-archer-y: 0px;
$ico-archer-offset-x: -463px;
$ico-archer-offset-y: 0px;
$ico-archer-width: 138px;
$ico-archer-height: 141px;
$ico-archer-total-width: 789px;
$ico-archer-total-height: 701px;
$ico-archer-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-archer: (463px, 0px, -463px, 0px, 138px, 141px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-archer', );
$ico-artefact-sword-name: 'ico-artefact-sword';
$ico-artefact-sword-x: 603px;
$ico-artefact-sword-y: 418px;
$ico-artefact-sword-offset-x: -603px;
$ico-artefact-sword-offset-y: -418px;
$ico-artefact-sword-width: 50px;
$ico-artefact-sword-height: 52px;
$ico-artefact-sword-total-width: 789px;
$ico-artefact-sword-total-height: 701px;
$ico-artefact-sword-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-artefact-sword: (603px, 418px, -603px, -418px, 50px, 52px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-artefact-sword', );
$ico-assassin-name: 'ico-assassin';
$ico-assassin-x: 420px;
$ico-assassin-y: 442px;
$ico-assassin-offset-x: -420px;
$ico-assassin-offset-y: -442px;
$ico-assassin-width: 137px;
$ico-assassin-height: 126px;
$ico-assassin-total-width: 789px;
$ico-assassin-total-height: 701px;
$ico-assassin-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-assassin: (420px, 442px, -420px, -442px, 137px, 126px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-assassin', );
$ico-ax-name: 'ico-ax';
$ico-ax-x: 210px;
$ico-ax-y: 571px;
$ico-ax-offset-x: -210px;
$ico-ax-offset-y: -571px;
$ico-ax-width: 50px;
$ico-ax-height: 50px;
$ico-ax-total-width: 789px;
$ico-ax-total-height: 701px;
$ico-ax-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-ax: (210px, 571px, -210px, -571px, 50px, 50px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-ax', );
$ico-black-steel-ingot-name: 'ico-black-steel-ingot';
$ico-black-steel-ingot-x: 767px;
$ico-black-steel-ingot-y: 669px;
$ico-black-steel-ingot-offset-x: -767px;
$ico-black-steel-ingot-offset-y: -669px;
$ico-black-steel-ingot-width: 20px;
$ico-black-steel-ingot-height: 20px;
$ico-black-steel-ingot-total-width: 789px;
$ico-black-steel-ingot-total-height: 701px;
$ico-black-steel-ingot-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-black-steel-ingot: (767px, 669px, -767px, -669px, 20px, 20px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-black-steel-ingot', );
$ico-black-steel-name: 'ico-black-steel';
$ico-black-steel-x: 525px;
$ico-black-steel-y: 571px;
$ico-black-steel-offset-x: -525px;
$ico-black-steel-offset-y: -571px;
$ico-black-steel-width: 51px;
$ico-black-steel-height: 49px;
$ico-black-steel-total-width: 789px;
$ico-black-steel-total-height: 701px;
$ico-black-steel-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-black-steel: (525px, 571px, -525px, -571px, 51px, 49px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-black-steel', );
$ico-bronze-ingot-name: 'ico-bronze-ingot';
$ico-bronze-ingot-x: 767px;
$ico-bronze-ingot-y: 625px;
$ico-bronze-ingot-offset-x: -767px;
$ico-bronze-ingot-offset-y: -625px;
$ico-bronze-ingot-width: 20px;
$ico-bronze-ingot-height: 20px;
$ico-bronze-ingot-total-width: 789px;
$ico-bronze-ingot-total-height: 701px;
$ico-bronze-ingot-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-bronze-ingot: (767px, 625px, -767px, -625px, 20px, 20px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-bronze-ingot', );
$ico-bronze-name: 'ico-bronze';
$ico-bronze-x: 693px;
$ico-bronze-y: 102px;
$ico-bronze-offset-x: -693px;
$ico-bronze-offset-y: -102px;
$ico-bronze-width: 49px;
$ico-bronze-height: 49px;
$ico-bronze-total-width: 789px;
$ico-bronze-total-height: 701px;
$ico-bronze-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-bronze: (693px, 102px, -693px, -102px, 49px, 49px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-bronze', );
$ico-btn-next-name: 'ico-btn-next';
$ico-btn-next-x: 745px;
$ico-btn-next-y: 178px;
$ico-btn-next-offset-x: -745px;
$ico-btn-next-offset-y: -178px;
$ico-btn-next-width: 30px;
$ico-btn-next-height: 47px;
$ico-btn-next-total-width: 789px;
$ico-btn-next-total-height: 701px;
$ico-btn-next-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-btn-next: (745px, 178px, -745px, -178px, 30px, 47px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-btn-next', );
$ico-btn-prev-name: 'ico-btn-prev';
$ico-btn-prev-x: 745px;
$ico-btn-prev-y: 227px;
$ico-btn-prev-offset-x: -745px;
$ico-btn-prev-offset-y: -227px;
$ico-btn-prev-width: 30px;
$ico-btn-prev-height: 47px;
$ico-btn-prev-total-width: 789px;
$ico-btn-prev-total-height: 701px;
$ico-btn-prev-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-btn-prev: (745px, 227px, -745px, -227px, 30px, 47px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-btn-prev', );
$ico-championship-cup-name: 'ico-championship-cup';
$ico-championship-cup-x: 745px;
$ico-championship-cup-y: 479px;
$ico-championship-cup-offset-x: -745px;
$ico-championship-cup-offset-y: -479px;
$ico-championship-cup-width: 30px;
$ico-championship-cup-height: 30px;
$ico-championship-cup-total-width: 789px;
$ico-championship-cup-total-height: 701px;
$ico-championship-cup-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-championship-cup: (745px, 479px, -745px, -479px, 30px, 30px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-championship-cup', );
$ico-chest-small-name: 'ico-chest-small';
$ico-chest-small-x: 745px;
$ico-chest-small-y: 0px;
$ico-chest-small-offset-x: -745px;
$ico-chest-small-offset-y: 0px;
$ico-chest-small-width: 44px;
$ico-chest-small-height: 46px;
$ico-chest-small-total-width: 789px;
$ico-chest-small-total-height: 701px;
$ico-chest-small-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-chest-small: (745px, 0px, -745px, 0px, 44px, 46px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-chest-small', );
$ico-chest-name: 'ico-chest';
$ico-chest-x: 603px;
$ico-chest-y: 98px;
$ico-chest-offset-x: -603px;
$ico-chest-offset-y: -98px;
$ico-chest-width: 84px;
$ico-chest-height: 88px;
$ico-chest-total-width: 789px;
$ico-chest-total-height: 701px;
$ico-chest-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-chest: (603px, 98px, -603px, -98px, 84px, 88px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-chest', );
$ico-copper-ingot-name: 'ico-copper-ingot';
$ico-copper-ingot-x: 669px;
$ico-copper-ingot-y: 352px;
$ico-copper-ingot-offset-x: -669px;
$ico-copper-ingot-offset-y: -352px;
$ico-copper-ingot-width: 18px;
$ico-copper-ingot-height: 19px;
$ico-copper-ingot-total-width: 789px;
$ico-copper-ingot-total-height: 701px;
$ico-copper-ingot-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-copper-ingot: (669px, 352px, -669px, -352px, 18px, 19px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-copper-ingot', );
$ico-copper-name: 'ico-copper';
$ico-copper-x: 693px;
$ico-copper-y: 404px;
$ico-copper-offset-x: -693px;
$ico-copper-offset-y: -404px;
$ico-copper-width: 50px;
$ico-copper-height: 47px;
$ico-copper-total-width: 789px;
$ico-copper-total-height: 701px;
$ico-copper-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-copper: (693px, 404px, -693px, -404px, 50px, 47px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-copper', );
$ico-craft-name: 'ico-craft';
$ico-craft-x: 463px;
$ico-craft-y: 277px;
$ico-craft-offset-x: -463px;
$ico-craft-offset-y: -277px;
$ico-craft-width: 138px;
$ico-craft-height: 131px;
$ico-craft-total-width: 789px;
$ico-craft-total-height: 701px;
$ico-craft-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-craft: (463px, 277px, -463px, -277px, 138px, 131px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-craft', );
$ico-dark-crystal-ingot-name: 'ico-dark-crystal-ingot';
$ico-dark-crystal-ingot-x: 745px;
$ico-dark-crystal-ingot-y: 647px;
$ico-dark-crystal-ingot-offset-x: -745px;
$ico-dark-crystal-ingot-offset-y: -647px;
$ico-dark-crystal-ingot-width: 20px;
$ico-dark-crystal-ingot-height: 20px;
$ico-dark-crystal-ingot-total-width: 789px;
$ico-dark-crystal-ingot-total-height: 701px;
$ico-dark-crystal-ingot-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-dark-crystal-ingot: (745px, 647px, -745px, -647px, 20px, 20px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-dark-crystal-ingot', );
$ico-dark-crystal-name: 'ico-dark-crystal';
$ico-dark-crystal-x: 366px;
$ico-dark-crystal-y: 571px;
$ico-dark-crystal-offset-x: -366px;
$ico-dark-crystal-offset-y: -571px;
$ico-dark-crystal-width: 51px;
$ico-dark-crystal-height: 49px;
$ico-dark-crystal-total-width: 789px;
$ico-dark-crystal-total-height: 701px;
$ico-dark-crystal-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-dark-crystal: (366px, 571px, -366px, -571px, 51px, 49px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-dark-crystal', );
$ico-delete-icon-name: 'ico-delete-icon';
$ico-delete-icon-x: 745px;
$ico-delete-icon-y: 571px;
$ico-delete-icon-offset-x: -745px;
$ico-delete-icon-offset-y: -571px;
$ico-delete-icon-width: 23px;
$ico-delete-icon-height: 30px;
$ico-delete-icon-total-width: 789px;
$ico-delete-icon-total-height: 701px;
$ico-delete-icon-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-delete-icon: (745px, 571px, -745px, -571px, 23px, 30px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-delete-icon', );
$ico-donat-name: 'ico-donat';
$ico-donat-x: 354px;
$ico-donat-y: 315px;
$ico-donat-offset-x: -354px;
$ico-donat-offset-y: -315px;
$ico-donat-width: 97px;
$ico-donat-height: 93px;
$ico-donat-total-width: 789px;
$ico-donat-total-height: 701px;
$ico-donat-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-donat: (354px, 315px, -354px, -315px, 97px, 93px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-donat', );
$ico-down-news-watch-name: 'ico-down-news-watch';
$ico-down-news-watch-x: 655px;
$ico-down-news-watch-y: 418px;
$ico-down-news-watch-offset-x: -655px;
$ico-down-news-watch-offset-y: -418px;
$ico-down-news-watch-width: 19px;
$ico-down-news-watch-height: 12px;
$ico-down-news-watch-total-width: 789px;
$ico-down-news-watch-total-height: 701px;
$ico-down-news-watch-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-down-news-watch: (655px, 418px, -655px, -418px, 19px, 12px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-down-news-watch', );
$ico-download-small-name: 'ico-download-small';
$ico-download-small-x: 314px;
$ico-download-small-y: 571px;
$ico-download-small-offset-x: -314px;
$ico-download-small-offset-y: -571px;
$ico-download-small-width: 50px;
$ico-download-small-height: 50px;
$ico-download-small-total-width: 789px;
$ico-download-small-total-height: 701px;
$ico-download-small-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-download-small: (314px, 571px, -314px, -571px, 50px, 50px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-download-small', );
$ico-download-name: 'ico-download';
$ico-download-x: 603px;
$ico-download-y: 352px;
$ico-download-offset-x: -603px;
$ico-download-offset-y: -352px;
$ico-download-width: 64px;
$ico-download-height: 64px;
$ico-download-total-width: 789px;
$ico-download-total-height: 701px;
$ico-download-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-download: (603px, 352px, -603px, -352px, 64px, 64px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-download', );
$ico-dragon-ingot-name: 'ico-dragon-ingot';
$ico-dragon-ingot-x: 745px;
$ico-dragon-ingot-y: 603px;
$ico-dragon-ingot-offset-x: -745px;
$ico-dragon-ingot-offset-y: -603px;
$ico-dragon-ingot-width: 20px;
$ico-dragon-ingot-height: 20px;
$ico-dragon-ingot-total-width: 789px;
$ico-dragon-ingot-total-height: 701px;
$ico-dragon-ingot-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-dragon-ingot: (745px, 603px, -745px, -603px, 20px, 20px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-dragon-ingot', );
$ico-dragon-name: 'ico-dragon';
$ico-dragon-x: 419px;
$ico-dragon-y: 571px;
$ico-dragon-offset-x: -419px;
$ico-dragon-offset-y: -571px;
$ico-dragon-width: 51px;
$ico-dragon-height: 49px;
$ico-dragon-total-width: 789px;
$ico-dragon-total-height: 701px;
$ico-dragon-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-dragon: (419px, 571px, -419px, -571px, 51px, 49px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-dragon', );
$ico-edit-icon-name: 'ico-edit-icon';
$ico-edit-icon-x: 745px;
$ico-edit-icon-y: 312px;
$ico-edit-icon-offset-x: -745px;
$ico-edit-icon-offset-y: -312px;
$ico-edit-icon-width: 33px;
$ico-edit-icon-height: 33px;
$ico-edit-icon-total-width: 789px;
$ico-edit-icon-total-height: 701px;
$ico-edit-icon-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-edit-icon: (745px, 312px, -745px, -312px, 33px, 33px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-edit-icon', );
$ico-elemental-ingot-name: 'ico-elemental-ingot';
$ico-elemental-ingot-x: 745px;
$ico-elemental-ingot-y: 669px;
$ico-elemental-ingot-offset-x: -745px;
$ico-elemental-ingot-offset-y: -669px;
$ico-elemental-ingot-width: 20px;
$ico-elemental-ingot-height: 20px;
$ico-elemental-ingot-total-width: 789px;
$ico-elemental-ingot-total-height: 701px;
$ico-elemental-ingot-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-elemental-ingot: (745px, 669px, -745px, -669px, 20px, 20px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-elemental-ingot', );
$ico-elemental-name: 'ico-elemental';
$ico-elemental-x: 578px;
$ico-elemental-y: 571px;
$ico-elemental-offset-x: -578px;
$ico-elemental-offset-y: -571px;
$ico-elemental-width: 50px;
$ico-elemental-height: 49px;
$ico-elemental-total-width: 789px;
$ico-elemental-total-height: 701px;
$ico-elemental-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-elemental: (578px, 571px, -578px, -571px, 50px, 49px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-elemental', );
$ico-email-name: 'ico-email';
$ico-email-x: 745px;
$ico-email-y: 540px;
$ico-email-offset-x: -745px;
$ico-email-offset-y: -540px;
$ico-email-width: 29px;
$ico-email-height: 29px;
$ico-email-total-width: 789px;
$ico-email-total-height: 701px;
$ico-email-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-email: (745px, 540px, -745px, -540px, 29px, 29px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-email', );
$ico-eye-name: 'ico-eye';
$ico-eye-x: 603px;
$ico-eye-y: 525px;
$ico-eye-offset-x: -603px;
$ico-eye-offset-y: -525px;
$ico-eye-width: 55px;
$ico-eye-height: 41px;
$ico-eye-total-width: 789px;
$ico-eye-total-height: 701px;
$ico-eye-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-eye: (603px, 525px, -603px, -525px, 55px, 41px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-eye', );
$ico-fraction-chaos-name: 'ico-fraction-chaos';
$ico-fraction-chaos-x: 231px;
$ico-fraction-chaos-y: 158px;
$ico-fraction-chaos-offset-x: -231px;
$ico-fraction-chaos-offset-y: -158px;
$ico-fraction-chaos-width: 207px;
$ico-fraction-chaos-height: 132px;
$ico-fraction-chaos-total-width: 789px;
$ico-fraction-chaos-total-height: 701px;
$ico-fraction-chaos-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-fraction-chaos: (231px, 158px, -231px, -158px, 207px, 132px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-fraction-chaos', );
$ico-fraction-darkness-name: 'ico-fraction-darkness';
$ico-fraction-darkness-x: 0px;
$ico-fraction-darkness-y: 0px;
$ico-fraction-darkness-offset-x: 0px;
$ico-fraction-darkness-offset-y: 0px;
$ico-fraction-darkness-width: 229px;
$ico-fraction-darkness-height: 156px;
$ico-fraction-darkness-total-width: 789px;
$ico-fraction-darkness-total-height: 701px;
$ico-fraction-darkness-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-fraction-darkness: (0px, 0px, 0px, 0px, 229px, 156px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-fraction-darkness', );
$ico-fraction-empire-name: 'ico-fraction-empire';
$ico-fraction-empire-x: 231px;
$ico-fraction-empire-y: 0px;
$ico-fraction-empire-offset-x: -231px;
$ico-fraction-empire-offset-y: 0px;
$ico-fraction-empire-width: 230px;
$ico-fraction-empire-height: 155px;
$ico-fraction-empire-total-width: 789px;
$ico-fraction-empire-total-height: 701px;
$ico-fraction-empire-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-fraction-empire: (231px, 0px, -231px, 0px, 230px, 155px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-fraction-empire', );
$ico-fraction-ins-name: 'ico-fraction-ins';
$ico-fraction-ins-x: 0px;
$ico-fraction-ins-y: 158px;
$ico-fraction-ins-offset-x: 0px;
$ico-fraction-ins-offset-y: -158px;
$ico-fraction-ins-width: 229px;
$ico-fraction-ins-height: 155px;
$ico-fraction-ins-total-width: 789px;
$ico-fraction-ins-total-height: 701px;
$ico-fraction-ins-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-fraction-ins: (0px, 158px, 0px, -158px, 229px, 155px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-fraction-ins', );
$ico-fraction-notin-name: 'ico-fraction-notin';
$ico-fraction-notin-x: 0px;
$ico-fraction-notin-y: 315px;
$ico-fraction-notin-offset-x: 0px;
$ico-fraction-notin-offset-y: -315px;
$ico-fraction-notin-width: 211px;
$ico-fraction-notin-height: 125px;
$ico-fraction-notin-total-width: 789px;
$ico-fraction-notin-total-height: 701px;
$ico-fraction-notin-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-fraction-notin: (0px, 315px, 0px, -315px, 211px, 125px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-fraction-notin', );
$ico-gear-name: 'ico-gear';
$ico-gear-x: 693px;
$ico-gear-y: 453px;
$ico-gear-offset-x: -693px;
$ico-gear-offset-y: -453px;
$ico-gear-width: 47px;
$ico-gear-height: 50px;
$ico-gear-total-width: 789px;
$ico-gear-total-height: 701px;
$ico-gear-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-gear: (693px, 453px, -693px, -453px, 47px, 50px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-gear', );
$ico-goblet-larger-name: 'ico-goblet-larger';
$ico-goblet-larger-x: 603px;
$ico-goblet-larger-y: 0px;
$ico-goblet-larger-offset-x: -603px;
$ico-goblet-larger-offset-y: 0px;
$ico-goblet-larger-width: 88px;
$ico-goblet-larger-height: 96px;
$ico-goblet-larger-total-width: 789px;
$ico-goblet-larger-total-height: 701px;
$ico-goblet-larger-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-goblet-larger: (603px, 0px, -603px, 0px, 88px, 96px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-goblet-larger', );
$ico-goblet-small-name: 'ico-goblet-small';
$ico-goblet-small-x: 745px;
$ico-goblet-small-y: 135px;
$ico-goblet-small-offset-x: -745px;
$ico-goblet-small-offset-y: -135px;
$ico-goblet-small-width: 37px;
$ico-goblet-small-height: 41px;
$ico-goblet-small-total-width: 789px;
$ico-goblet-small-total-height: 701px;
$ico-goblet-small-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-goblet-small: (745px, 135px, -745px, -135px, 37px, 41px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-goblet-small', );
$ico-goblet-name: 'ico-goblet';
$ico-goblet-x: 603px;
$ico-goblet-y: 267px;
$ico-goblet-offset-x: -603px;
$ico-goblet-offset-y: -267px;
$ico-goblet-width: 75px;
$ico-goblet-height: 83px;
$ico-goblet-total-width: 789px;
$ico-goblet-total-height: 701px;
$ico-goblet-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-goblet: (603px, 267px, -603px, -267px, 75px, 83px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-goblet', );
$ico-hammer-craft-name: 'ico-hammer-craft';
$ico-hammer-craft-x: 693px;
$ico-hammer-craft-y: 607px;
$ico-hammer-craft-offset-x: -693px;
$ico-hammer-craft-offset-y: -607px;
$ico-hammer-craft-width: 47px;
$ico-hammer-craft-height: 45px;
$ico-hammer-craft-total-width: 789px;
$ico-hammer-craft-total-height: 701px;
$ico-hammer-craft-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-hammer-craft: (693px, 607px, -693px, -607px, 47px, 45px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-hammer-craft', );
$ico-hammer-small-name: 'ico-hammer-small';
$ico-hammer-small-x: 745px;
$ico-hammer-small-y: 48px;
$ico-hammer-small-offset-x: -745px;
$ico-hammer-small-offset-y: -48px;
$ico-hammer-small-width: 44px;
$ico-hammer-small-height: 43px;
$ico-hammer-small-total-width: 789px;
$ico-hammer-small-total-height: 701px;
$ico-hammer-small-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-hammer-small: (745px, 48px, -745px, -48px, 44px, 43px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-hammer-small', );
$ico-hammer-name: 'ico-hammer';
$ico-hammer-x: 603px;
$ico-hammer-y: 188px;
$ico-hammer-offset-x: -603px;
$ico-hammer-offset-y: -188px;
$ico-hammer-width: 85px;
$ico-hammer-height: 77px;
$ico-hammer-total-width: 789px;
$ico-hammer-total-height: 701px;
$ico-hammer-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-hammer: (603px, 188px, -603px, -188px, 85px, 77px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-hammer', );
$ico-history-hat-name: 'ico-history-hat';
$ico-history-hat-x: 0px;
$ico-history-hat-y: 656px;
$ico-history-hat-offset-x: 0px;
$ico-history-hat-offset-y: -656px;
$ico-history-hat-width: 53px;
$ico-history-hat-height: 45px;
$ico-history-hat-total-width: 789px;
$ico-history-hat-total-height: 701px;
$ico-history-hat-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-history-hat: (0px, 656px, 0px, -656px, 53px, 45px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-history-hat', );
$ico-holy-ingot-name: 'ico-holy-ingot';
$ico-holy-ingot-x: 767px;
$ico-holy-ingot-y: 603px;
$ico-holy-ingot-offset-x: -767px;
$ico-holy-ingot-offset-y: -603px;
$ico-holy-ingot-width: 20px;
$ico-holy-ingot-height: 20px;
$ico-holy-ingot-total-width: 789px;
$ico-holy-ingot-total-height: 701px;
$ico-holy-ingot-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-holy-ingot: (767px, 603px, -767px, -603px, 20px, 20px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-holy-ingot', );
$ico-holy-name: 'ico-holy';
$ico-holy-x: 693px;
$ico-holy-y: 355px;
$ico-holy-offset-x: -693px;
$ico-holy-offset-y: -355px;
$ico-holy-width: 50px;
$ico-holy-height: 47px;
$ico-holy-total-width: 789px;
$ico-holy-total-height: 701px;
$ico-holy-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-holy: (693px, 355px, -693px, -355px, 50px, 47px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-holy', );
$ico-hourse-name: 'ico-hourse';
$ico-hourse-x: 693px;
$ico-hourse-y: 505px;
$ico-hourse-offset-x: -693px;
$ico-hourse-offset-y: -505px;
$ico-hourse-width: 46px;
$ico-hourse-height: 51px;
$ico-hourse-total-width: 789px;
$ico-hourse-total-height: 701px;
$ico-hourse-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-hourse: (693px, 505px, -693px, -505px, 46px, 51px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-hourse', );
$ico-iron-ingot-name: 'ico-iron-ingot';
$ico-iron-ingot-x: 669px;
$ico-iron-ingot-y: 394px;
$ico-iron-ingot-offset-x: -669px;
$ico-iron-ingot-offset-y: -394px;
$ico-iron-ingot-width: 18px;
$ico-iron-ingot-height: 19px;
$ico-iron-ingot-total-width: 789px;
$ico-iron-ingot-total-height: 701px;
$ico-iron-ingot-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-iron-ingot: (669px, 394px, -669px, -394px, 18px, 19px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-iron-ingot', );
$ico-iron-name: 'ico-iron';
$ico-iron-x: 693px;
$ico-iron-y: 0px;
$ico-iron-offset-x: -693px;
$ico-iron-offset-y: 0px;
$ico-iron-width: 50px;
$ico-iron-height: 49px;
$ico-iron-total-width: 789px;
$ico-iron-total-height: 701px;
$ico-iron-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-iron: (693px, 0px, -693px, 0px, 50px, 49px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-iron', );
$ico-key-name: 'ico-key';
$ico-key-x: 745px;
$ico-key-y: 511px;
$ico-key-offset-x: -745px;
$ico-key-offset-y: -511px;
$ico-key-width: 32px;
$ico-key-height: 27px;
$ico-key-total-width: 789px;
$ico-key-total-height: 701px;
$ico-key-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-key: (745px, 511px, -745px, -511px, 32px, 27px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-key', );
$ico-knight-name: 'ico-knight';
$ico-knight-x: 140px;
$ico-knight-y: 442px;
$ico-knight-offset-x: -140px;
$ico-knight-offset-y: -442px;
$ico-knight-width: 138px;
$ico-knight-height: 127px;
$ico-knight-total-width: 789px;
$ico-knight-total-height: 701px;
$ico-knight-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-knight: (140px, 442px, -140px, -442px, 138px, 127px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-knight', );
$ico-lava-ingot-name: 'ico-lava-ingot';
$ico-lava-ingot-x: 767px;
$ico-lava-ingot-y: 647px;
$ico-lava-ingot-offset-x: -767px;
$ico-lava-ingot-offset-y: -647px;
$ico-lava-ingot-width: 20px;
$ico-lava-ingot-height: 20px;
$ico-lava-ingot-total-width: 789px;
$ico-lava-ingot-total-height: 701px;
$ico-lava-ingot-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-lava-ingot: (767px, 647px, -767px, -647px, 20px, 20px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-lava-ingot', );
$ico-lava-name: 'ico-lava';
$ico-lava-x: 693px;
$ico-lava-y: 204px;
$ico-lava-offset-x: -693px;
$ico-lava-offset-y: -204px;
$ico-lava-width: 50px;
$ico-lava-height: 48px;
$ico-lava-total-width: 789px;
$ico-lava-total-height: 701px;
$ico-lava-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-lava: (693px, 204px, -693px, -204px, 50px, 48px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-lava', );
$ico-letter-small-name: 'ico-letter-small';
$ico-letter-small-x: 55px;
$ico-letter-small-y: 656px;
$ico-letter-small-offset-x: -55px;
$ico-letter-small-offset-y: -656px;
$ico-letter-small-width: 45px;
$ico-letter-small-height: 41px;
$ico-letter-small-total-width: 789px;
$ico-letter-small-total-height: 701px;
$ico-letter-small-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-letter-small: (55px, 656px, -55px, -656px, 45px, 41px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-letter-small', );
$ico-letter-name: 'ico-letter';
$ico-letter-x: 0px;
$ico-letter-y: 571px;
$ico-letter-offset-x: 0px;
$ico-letter-offset-y: -571px;
$ico-letter-width: 100px;
$ico-letter-height: 83px;
$ico-letter-total-width: 789px;
$ico-letter-total-height: 701px;
$ico-letter-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-letter: (0px, 571px, 0px, -571px, 100px, 83px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-letter', );
$ico-mage-name: 'ico-mage';
$ico-mage-x: 463px;
$ico-mage-y: 143px;
$ico-mage-offset-x: -463px;
$ico-mage-offset-y: -143px;
$ico-mage-width: 138px;
$ico-mage-height: 132px;
$ico-mage-total-width: 789px;
$ico-mage-total-height: 701px;
$ico-mage-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-mage: (463px, 143px, -463px, -143px, 138px, 132px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-mage', );
$ico-market-down-arrow-name: 'ico-market-down-arrow';
$ico-market-down-arrow-x: 776px;
$ico-market-down-arrow-y: 549px;
$ico-market-down-arrow-offset-x: -776px;
$ico-market-down-arrow-offset-y: -549px;
$ico-market-down-arrow-width: 13px;
$ico-market-down-arrow-height: 7px;
$ico-market-down-arrow-total-width: 789px;
$ico-market-down-arrow-total-height: 701px;
$ico-market-down-arrow-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-market-down-arrow: (776px, 549px, -776px, -549px, 13px, 7px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-market-down-arrow', );
$ico-market-up-arrow-name: 'ico-market-up-arrow';
$ico-market-up-arrow-x: 776px;
$ico-market-up-arrow-y: 540px;
$ico-market-up-arrow-offset-x: -776px;
$ico-market-up-arrow-offset-y: -540px;
$ico-market-up-arrow-width: 13px;
$ico-market-up-arrow-height: 7px;
$ico-market-up-arrow-total-width: 789px;
$ico-market-up-arrow-total-height: 701px;
$ico-market-up-arrow-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-market-up-arrow: (776px, 540px, -776px, -540px, 13px, 7px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-market-up-arrow', );
$ico-media-art-name: 'ico-media-art';
$ico-media-art-x: 745px;
$ico-media-art-y: 347px;
$ico-media-art-offset-x: -745px;
$ico-media-art-offset-y: -347px;
$ico-media-art-width: 33px;
$ico-media-art-height: 33px;
$ico-media-art-total-width: 789px;
$ico-media-art-total-height: 701px;
$ico-media-art-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-media-art: (745px, 347px, -745px, -347px, 33px, 33px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-media-art', );
$ico-media-picture-name: 'ico-media-picture';
$ico-media-picture-x: 745px;
$ico-media-picture-y: 93px;
$ico-media-picture-offset-x: -745px;
$ico-media-picture-offset-y: -93px;
$ico-media-picture-width: 40px;
$ico-media-picture-height: 40px;
$ico-media-picture-total-width: 789px;
$ico-media-picture-total-height: 701px;
$ico-media-picture-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-media-picture: (745px, 93px, -745px, -93px, 40px, 40px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-media-picture', );
$ico-media-play-name: 'ico-media-play';
$ico-media-play-x: 693px;
$ico-media-play-y: 558px;
$ico-media-play-offset-x: -693px;
$ico-media-play-offset-y: -558px;
$ico-media-play-width: 47px;
$ico-media-play-height: 47px;
$ico-media-play-total-width: 789px;
$ico-media-play-total-height: 701px;
$ico-media-play-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-media-play: (693px, 558px, -693px, -558px, 47px, 47px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-media-play', );
$ico-media-scr-name: 'ico-media-scr';
$ico-media-scr-x: 745px;
$ico-media-scr-y: 449px;
$ico-media-scr-offset-x: -745px;
$ico-media-scr-offset-y: -449px;
$ico-media-scr-width: 33px;
$ico-media-scr-height: 28px;
$ico-media-scr-total-width: 789px;
$ico-media-scr-total-height: 701px;
$ico-media-scr-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-media-scr: (745px, 449px, -745px, -449px, 33px, 28px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-media-scr', );
$ico-media-video-name: 'ico-media-video';
$ico-media-video-x: 745px;
$ico-media-video-y: 417px;
$ico-media-video-offset-x: -745px;
$ico-media-video-offset-y: -417px;
$ico-media-video-width: 31px;
$ico-media-video-height: 30px;
$ico-media-video-total-width: 789px;
$ico-media-video-total-height: 701px;
$ico-media-video-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-media-video: (745px, 417px, -745px, -417px, 31px, 30px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-media-video', );
$ico-meteor-ingot-name: 'ico-meteor-ingot';
$ico-meteor-ingot-x: 669px;
$ico-meteor-ingot-y: 373px;
$ico-meteor-ingot-offset-x: -669px;
$ico-meteor-ingot-offset-y: -373px;
$ico-meteor-ingot-width: 18px;
$ico-meteor-ingot-height: 19px;
$ico-meteor-ingot-total-width: 789px;
$ico-meteor-ingot-total-height: 701px;
$ico-meteor-ingot-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-meteor-ingot: (669px, 373px, -669px, -373px, 18px, 19px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-meteor-ingot', );
$ico-meteor-name: 'ico-meteor';
$ico-meteor-x: 630px;
$ico-meteor-y: 571px;
$ico-meteor-offset-x: -630px;
$ico-meteor-offset-y: -571px;
$ico-meteor-width: 50px;
$ico-meteor-height: 49px;
$ico-meteor-total-width: 789px;
$ico-meteor-total-height: 701px;
$ico-meteor-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-meteor: (630px, 571px, -630px, -571px, 50px, 49px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-meteor', );
$ico-mithril-ingot-name: 'ico-mithril-ingot';
$ico-mithril-ingot-x: 745px;
$ico-mithril-ingot-y: 625px;
$ico-mithril-ingot-offset-x: -745px;
$ico-mithril-ingot-offset-y: -625px;
$ico-mithril-ingot-width: 20px;
$ico-mithril-ingot-height: 20px;
$ico-mithril-ingot-total-width: 789px;
$ico-mithril-ingot-total-height: 701px;
$ico-mithril-ingot-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-mithril-ingot: (745px, 625px, -745px, -625px, 20px, 20px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-mithril-ingot', );
$ico-mithril-name: 'ico-mithril';
$ico-mithril-x: 693px;
$ico-mithril-y: 153px;
$ico-mithril-offset-x: -693px;
$ico-mithril-offset-y: -153px;
$ico-mithril-width: 49px;
$ico-mithril-height: 49px;
$ico-mithril-total-width: 789px;
$ico-mithril-total-height: 701px;
$ico-mithril-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-mithril: (693px, 153px, -693px, -153px, 49px, 49px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-mithril', );
$ico-modal-close-name: 'ico-modal-close';
$ico-modal-close-x: 745px;
$ico-modal-close-y: 276px;
$ico-modal-close-offset-x: -745px;
$ico-modal-close-offset-y: -276px;
$ico-modal-close-width: 36px;
$ico-modal-close-height: 34px;
$ico-modal-close-total-width: 789px;
$ico-modal-close-total-height: 701px;
$ico-modal-close-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-modal-close: (745px, 276px, -745px, -276px, 36px, 34px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-modal-close', );
$ico-necromancy-name: 'ico-necromancy';
$ico-necromancy-x: 213px;
$ico-necromancy-y: 315px;
$ico-necromancy-offset-x: -213px;
$ico-necromancy-offset-y: -315px;
$ico-necromancy-width: 139px;
$ico-necromancy-height: 120px;
$ico-necromancy-total-width: 789px;
$ico-necromancy-total-height: 701px;
$ico-necromancy-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-necromancy: (213px, 315px, -213px, -315px, 139px, 120px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-necromancy', );
$ico-paladin-name: 'ico-paladin';
$ico-paladin-x: 280px;
$ico-paladin-y: 442px;
$ico-paladin-offset-x: -280px;
$ico-paladin-offset-y: -442px;
$ico-paladin-width: 138px;
$ico-paladin-height: 126px;
$ico-paladin-total-width: 789px;
$ico-paladin-total-height: 701px;
$ico-paladin-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-paladin: (280px, 442px, -280px, -442px, 138px, 126px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-paladin', );
$ico-pick-name: 'ico-pick';
$ico-pick-x: 603px;
$ico-pick-y: 472px;
$ico-pick-offset-x: -603px;
$ico-pick-offset-y: -472px;
$ico-pick-width: 50px;
$ico-pick-height: 51px;
$ico-pick-total-width: 789px;
$ico-pick-total-height: 701px;
$ico-pick-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-pick: (603px, 472px, -603px, -472px, 50px, 51px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-pick', );
$ico-plus-name: 'ico-plus';
$ico-plus-x: 262px;
$ico-plus-y: 571px;
$ico-plus-offset-x: -262px;
$ico-plus-offset-y: -571px;
$ico-plus-width: 50px;
$ico-plus-height: 50px;
$ico-plus-total-width: 789px;
$ico-plus-total-height: 701px;
$ico-plus-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-plus: (262px, 571px, -262px, -571px, 50px, 50px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-plus', );
$ico-select-name: 'ico-select';
$ico-select-x: 745px;
$ico-select-y: 691px;
$ico-select-offset-x: -745px;
$ico-select-offset-y: -691px;
$ico-select-width: 15px;
$ico-select-height: 10px;
$ico-select-total-width: 789px;
$ico-select-total-height: 701px;
$ico-select-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-select: (745px, 691px, -745px, -691px, 15px, 10px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-select', );
$ico-stars-name: 'ico-stars';
$ico-stars-x: 693px;
$ico-stars-y: 305px;
$ico-stars-offset-x: -693px;
$ico-stars-offset-y: -305px;
$ico-stars-width: 49px;
$ico-stars-height: 48px;
$ico-stars-total-width: 789px;
$ico-stars-total-height: 701px;
$ico-stars-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-stars: (693px, 305px, -693px, -305px, 49px, 48px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-stars', );
$ico-steel-ingot-name: 'ico-steel-ingot';
$ico-steel-ingot-x: 770px;
$ico-steel-ingot-y: 571px;
$ico-steel-ingot-offset-x: -770px;
$ico-steel-ingot-offset-y: -571px;
$ico-steel-ingot-width: 18px;
$ico-steel-ingot-height: 19px;
$ico-steel-ingot-total-width: 789px;
$ico-steel-ingot-total-height: 701px;
$ico-steel-ingot-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-steel-ingot: (770px, 571px, -770px, -571px, 18px, 19px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-steel-ingot', );
$ico-steel-name: 'ico-steel';
$ico-steel-x: 472px;
$ico-steel-y: 571px;
$ico-steel-offset-x: -472px;
$ico-steel-offset-y: -571px;
$ico-steel-width: 51px;
$ico-steel-height: 49px;
$ico-steel-total-width: 789px;
$ico-steel-total-height: 701px;
$ico-steel-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-steel: (472px, 571px, -472px, -571px, 51px, 49px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-steel', );
$ico-strong-hand-name: 'ico-strong-hand';
$ico-strong-hand-x: 693px;
$ico-strong-hand-y: 51px;
$ico-strong-hand-offset-x: -693px;
$ico-strong-hand-offset-y: -51px;
$ico-strong-hand-width: 49px;
$ico-strong-hand-height: 49px;
$ico-strong-hand-total-width: 789px;
$ico-strong-hand-total-height: 701px;
$ico-strong-hand-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-strong-hand: (693px, 51px, -693px, -51px, 49px, 49px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-strong-hand', );
$ico-sword-name: 'ico-sword';
$ico-sword-x: 745px;
$ico-sword-y: 382px;
$ico-sword-offset-x: -745px;
$ico-sword-offset-y: -382px;
$ico-sword-width: 32px;
$ico-sword-height: 33px;
$ico-sword-total-width: 789px;
$ico-sword-total-height: 701px;
$ico-sword-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-sword: (745px, 382px, -745px, -382px, 32px, 33px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-sword', );
$ico-truck-small-name: 'ico-truck-small';
$ico-truck-small-x: 102px;
$ico-truck-small-y: 656px;
$ico-truck-small-offset-x: -102px;
$ico-truck-small-offset-y: -656px;
$ico-truck-small-width: 48px;
$ico-truck-small-height: 38px;
$ico-truck-small-total-width: 789px;
$ico-truck-small-total-height: 701px;
$ico-truck-small-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-truck-small: (102px, 656px, -102px, -656px, 48px, 38px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-truck-small', );
$ico-truck-name: 'ico-truck';
$ico-truck-x: 102px;
$ico-truck-y: 571px;
$ico-truck-offset-x: -102px;
$ico-truck-offset-y: -571px;
$ico-truck-width: 106px;
$ico-truck-height: 76px;
$ico-truck-total-width: 789px;
$ico-truck-total-height: 701px;
$ico-truck-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-truck: (102px, 571px, -102px, -571px, 106px, 76px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-truck', );
$ico-two-stars-name: 'ico-two-stars';
$ico-two-stars-x: 693px;
$ico-two-stars-y: 254px;
$ico-two-stars-offset-x: -693px;
$ico-two-stars-offset-y: -254px;
$ico-two-stars-width: 48px;
$ico-two-stars-height: 49px;
$ico-two-stars-total-width: 789px;
$ico-two-stars-total-height: 701px;
$ico-two-stars-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-two-stars: (693px, 254px, -693px, -254px, 48px, 49px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-two-stars', );
$ico-up-news-watch-name: 'ico-up-news-watch';
$ico-up-news-watch-x: 655px;
$ico-up-news-watch-y: 432px;
$ico-up-news-watch-offset-x: -655px;
$ico-up-news-watch-offset-y: -432px;
$ico-up-news-watch-width: 19px;
$ico-up-news-watch-height: 12px;
$ico-up-news-watch-total-width: 789px;
$ico-up-news-watch-total-height: 701px;
$ico-up-news-watch-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-up-news-watch: (655px, 432px, -655px, -432px, 19px, 12px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-up-news-watch', );
$ico-vampire-name: 'ico-vampire';
$ico-vampire-x: 0px;
$ico-vampire-y: 442px;
$ico-vampire-offset-x: 0px;
$ico-vampire-offset-y: -442px;
$ico-vampire-width: 138px;
$ico-vampire-height: 127px;
$ico-vampire-total-width: 789px;
$ico-vampire-total-height: 701px;
$ico-vampire-image: '../images/useful/sprites/theme/theme-sprite.png';
$ico-vampire: (0px, 442px, 0px, -442px, 138px, 127px, 789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', 'ico-vampire', );
$spritesheet-width: 789px;
$spritesheet-height: 701px;
$spritesheet-image: '../images/useful/sprites/theme/theme-sprite.png';
$spritesheet-sprites: ($ico-archer, $ico-artefact-sword, $ico-assassin, $ico-ax, $ico-black-steel-ingot, $ico-black-steel, $ico-bronze-ingot, $ico-bronze, $ico-btn-next, $ico-btn-prev, $ico-championship-cup, $ico-chest-small, $ico-chest, $ico-copper-ingot, $ico-copper, $ico-craft, $ico-dark-crystal-ingot, $ico-dark-crystal, $ico-delete-icon, $ico-donat, $ico-down-news-watch, $ico-download-small, $ico-download, $ico-dragon-ingot, $ico-dragon, $ico-edit-icon, $ico-elemental-ingot, $ico-elemental, $ico-email, $ico-eye, $ico-fraction-chaos, $ico-fraction-darkness, $ico-fraction-empire, $ico-fraction-ins, $ico-fraction-notin, $ico-gear, $ico-goblet-larger, $ico-goblet-small, $ico-goblet, $ico-hammer-craft, $ico-hammer-small, $ico-hammer, $ico-history-hat, $ico-holy-ingot, $ico-holy, $ico-hourse, $ico-iron-ingot, $ico-iron, $ico-key, $ico-knight, $ico-lava-ingot, $ico-lava, $ico-letter-small, $ico-letter, $ico-mage, $ico-market-down-arrow, $ico-market-up-arrow, $ico-media-art, $ico-media-picture, $ico-media-play, $ico-media-scr, $ico-media-video, $ico-meteor-ingot, $ico-meteor, $ico-mithril-ingot, $ico-mithril, $ico-modal-close, $ico-necromancy, $ico-paladin, $ico-pick, $ico-plus, $ico-select, $ico-stars, $ico-steel-ingot, $ico-steel, $ico-strong-hand, $ico-sword, $ico-truck-small, $ico-truck, $ico-two-stars, $ico-up-news-watch, $ico-vampire, );
$spritesheet: (789px, 701px, '../images/useful/sprites/theme/theme-sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
